.hidden {
  display: none;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
}
#weather {
  color: aliceblue;
  font-size: 20px;
}
#main {
  color: white;
  text-align: center;
  position: fixed;
  top: 420px;
}
#quote {
  color: white;
  box-sizing: border-box;
  position: relative;
  top: -10px;
}
#clock {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 15px;
}
#greeting {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}
#todo-form input {
  border-radius: 3px;
  border: none;
  padding: 3px;
  margin-bottom: 10px;
}
#todo-form input:focus {
  outline: none;
}
#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#todo-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#todo-list span {
  font-size: 20px;
  font-weight: bold;
}
#todo-list button {
  background-color: inherit;
  border: none;
  font-size: 20px;
}
#login-form input {
  border-radius: 3px;
  border: none;
  padding: 3px;
  margin-bottom: 10px;
}
#login-form input:focus {
  outline: none;
}
#login-form button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: cadetblue;
  color: white;
}
